*{
    box-sizing:border-box
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

main {
    padding: 36px;
}

.header{
    display:flex;
    align-items: center ;
    height: 356px;
    background: linear-gradient(90deg, #64e812 1.18%, #0f35e1 100%);
    color: rgb(208, 177, 24);
    padding: 50px;
}

.header--image {
    height: 124%;
    margin-right: 50px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 1.75rem;
    font-weight: 500;
}

.form{
    display: grid;
    grid-template: 0px 40px / 1fr fr ;
    gap: 20px;
    margin-bottom: 17px;

}